<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, target-densitydpi=device-dpi, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="description" content="{{ page.description }}" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#734a08" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    {% seo %}

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{
        '/assets/css/style.css?v='
          | append: site.github.build_revision
          | relative_url
      }}"
    />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <style>
      @media (prefers-color-scheme: dark) {
        html {
          filter: invert(100%) hue-rotate(180deg);
        }

        html img,
        html input[type="image"] {
          filter: invert(100%) hue-rotate(-180deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {{ content }}
    </div>

    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
